<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul data-slide-speed="200" data-auto-scroll="true" class="page-sidebar-menu">
      <li class="sidebar-toggler-wrapper">
        <div class="sidebar-toggler">
        </div>
      </li>
      <li class="start ">
        <a href="/">
          <i class="icon-home"></i>
          <span class="title">Dashboard</span>
        </a>
      </li>


      <li>
        <a href="javascript:;">
          <i class="icon-user"></i>
          <span class="title">About Us</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="#">
              <i class="icon-home"></i>
              Society</a>
          </li>
          <li>
            <a href="#">
              <i class="icon-basket"></i>
              Aims/Object</a>
          </li>
          <li>
            <a href="#">
              <i class="icon-basket"></i>
              Members</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <i class="icon-user"></i>
          <span class="title">Messages</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="#">
              <i class="icon-home"></i>
              V.C</a>
          </li>
          <li>
            <a href="#">
              <i class="icon-basket"></i>
              Principle</a>
          </li>
          <li>
            <a href="#">
              <i class="icon-basket"></i>
              Head</a>
          </li>
        </ul>
      </li>


      <li class="start ">
        <a href="#">
          <i class="icon-star"></i>
          <span class="title">Events</span>
        </a>
      </li>

      <li class="start ">
        <a href="#">
          <i class="icon-star"></i>
          <span class="title">Publications & Articles</span>
        </a>
      </li>

      <li class="start ">
        <a href="#">
          <i class="icon-star"></i>
          <span class="title">Associated Problems</span>
        </a>
      </li>

      <li class="start ">
              <a href="#">
                <i class="icon-docs"></i>
                <span class="title">About Us</span>
              </a>
            </li>
      <!--<li class="products">-->
        <!--<a href="/">-->
          <!--<i class="icon-bar-chart"></i>-->
          <!--<span class="title">Products</span>-->
        <!--</a>-->
      <!--</li>-->
    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>
